:root {
    --border-color: #7e7e7e;
    --bg-color: #f0f0f0;
    --fg-color: #181818;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #181818;
        --fg-color: #f0f0f0;
    }
}

.hide {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}

.visible {
    opacity: 1;
    visibility: visible;
}
.invisible {
    opacity: 0;
    visibility: hidden;
}
.visibility-transition {
    // transition: opacity 400ms ease, visibility 400ms ease;
}

.center {
    text-align: center;
}

.fw-indent {
    text-indent: -0.6em;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}
