// #start-panel
& {
    margin: 2em auto;
    max-width: 75%;
}

&,
tr,
td {
    border-collapse: collapse;
    padding: 4px 6px;
}

tr > td:nth-child(1) {
    text-wrap: nowrap;
}

tr:has(#last-video-file:empty) {
    display: none;
}

tbody {
    display: block;
    padding: 2px 8px;
    border: 1px solid;
}

th {
    padding: 0.5em;

    &:first-of-type {
        padding-bottom: 1em;
    }

    * {
        font-weight: lighter;
        font-size: smaller;
        color: var(--border-color);
    }
}
