& {
    margin: 2em auto;
    max-width: 75%;
}

&,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 4px 6px;
}

tr > td:nth-child(1) {
    text-wrap: nowrap;
}

th {
    padding: 0.5em;

    & > div {
        font-weight: lighter;
        font-size: smaller;
        color: var(--border-color);
    }
}
